/* ContactForm.css */

/* Root container */
.form_container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #1e1e1e;
    color: #ffffff;
  }
  
  /* Form box styling */
  .form_box {
    background-color: #2e2e2e;
    padding: 2rem;
    border-radius: 15px;
    max-width: 500px;
    width: 100%;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  /* Typography */
  .form_title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .form_subtitle {
    font-size: 1rem;
    margin-bottom: 1rem;
    color: #590e0e;
  }
  
  /* Input fields */
  .form_field {
    background-color: #1e1e1e;
    color: #ffffff;
    margin-bottom: 1rem;
    
  }
  
  .form_field input,
  .form_field textarea {
    background-color: #1e1e1e;
    color: #ffffff ;
  }
  
  
  /* Submit button */
  .submit_button {
    background-color:#5820BE !important;
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1rem;
    transition: background-color 0.3s ease;
  }

  .submit_button:focus {
    background-color: #8A63D2 !important;
  }
  .submit_button:hover {
    background-color: #301269 !important;
  }
  

  body {
    background-image: none;
    min-height: 100vh;
    background-color: #1e1e1e;
  }