.home_container {
  /*background-image: url('../assets/backgrounds/main-background.png'); /* шлях до зображення */
  background-size: cover; /* Масштабування зображення на всю ширину та висоту */
  background-repeat: no-repeat; /* Забороняє повторення зображення */
  background-position: center; /* Центрує зображення на сторінці */
  background-attachment: fixed; /* Фіксує зображення для паралакс-ефекту при прокручуванні */
  min-height: 100vh; /* Забезпечує, щоб фон займав мінімум всю видиму висоту */
  background-color: #1e1e1e;
}

/* src/pages/Home.css */

.home_container {
display: flex;
flex-direction: column;
min-height: 100vh;
}
.main_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1; /* Dostosowuje się do przestrzeni */
  text-align: center;
}
