.home-container {
    background-image: url('../assets/backgrounds/main-background.png'); /* шлях до зображення */
    background-size: cover; /* Масштабування зображення на всю ширину та висоту */
    background-repeat: no-repeat; /* Забороняє повторення зображення */
    background-position: center; /* Центрує зображення на сторінці */
    background-attachment: fixed; /* Фіксує зображення для паралакс-ефекту при прокручуванні */
    min-height: 100vh; /* Забезпечує, щоб фон займав мінімум всю видиму висоту */
    background-color: #1e1e1e;
  }

/* src/pages/Home.css */

.home-container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Висота на всю сторінку */
  justify-content: space-between; /* Вирівнює Navbar, MainContent та Footer по вертикалі */
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Вертикальне вирівнювання */
  align-items: center; /* Горизонтальне вирівнювання */
  height: 100%; /* Висота на всю доступну площу */
  text-align: center; /* Центрування тексту всередині */
}
